nav {
    background-color: #2E4172;
     
}

footer {
    text-align: center;
    color: #061539;
}
.home-sec {
    background-color: #D49B6A ;
    padding: 1em;
    border: solid 1px;
    border-radius: 5px;
}

